@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

:host {
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
font-size: 16px;
color: #333;
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
margin: 8px 0;
}

p {
margin: 0;
}

.spacer {
flex: 1;
}

.toolbar {
position: fixed;
top: 0;
z-index: 100;
width: 102%;
height: 90px;
margin: -8px;
display: flex;
align-items: center;
background-color: black;
color: white;
font-weight: 600;
}
.toolbar img{
margin: 0 16px;
}
.toolbar #cart:hover {
cursor: pointer;
}
.vl {
border-left: 3px solid white;
height: 50px;
margin-right: 20px;
}
.cursor-pointer{
    cursor:pointer;
}
.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }
  #lblCart{
    margin-left: 30px;  
  }
  #lblCartCount {
      background: white;
      color: black;
      padding: 0 5px;
      vertical-align: top;
      margin-left: -25px; 
      margin-top: -20px;
      margin-right: 35px;
  }
